DB_CONNECTION=fill with you credentials
CLIENT_URL='http://localhost:5173'
JWT_SECRET_KEY=fill with you credentials
ADMIN_PASSWORD=fill with you credentials
SALT_ROUNDS=fill with you credentials
NODE_ENVIRONMENT='development'  #don't forget to change to 'production' when deploying, else 'development' while testing locally
CLOUDINARY_API_KEY=fill with you credentials
CLOUDINARY_CLOUD_NAME=fill with you credentials
CLOUDINARY_API_SECRET=fill with you credentials
def_psw =fill with you credentials
PROJECT_KEY_ID=fill with you credentials
PROJECT_KEY=fill with you credentials
PROJECT_CLIENT_EMAIL=fill with you credentials
PROJECT_CLIENT_ID=fill with you credentials
PROJECT_AUTH_URI=fill with you credentials
PROJECT_TOKEN_URI=fill with you credentials
PROJECT_AUTH_CERT_URL=fill with you credentials
PROJECT_CLIENT_CERT_URL=fill with you credentials