@import "tailwindcss";

.thin-scroll::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.thin-scroll::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.08);
    /* barely visible */
    border-radius: 10px;
}